<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Memories</title>

  <link rel="stylesheet" href="vendor/bootswatch/united/bootstrap.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="vendor/handlebars/handlebars.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

  <body>

    <script type="text/javascript">
      window.user = {{{ user }}};
    </script>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">

        <h1 class="display-3">forgetMeNot</h1>
        <p class="lead">We remember when they can no longer.</p>
        <button type="button" name="button" class="btn primary-btn newMem">New Memory</button>
        <button type="button" name="button" class="btn primary-btn logout">Log-out</button>

      </div>
    </div>

    <div class="memoryWrapper">
      <script  class="memoryTemplate" type="text/javascipt">

        <div class="container">
          \{{#each memory}}
            <div class="row">

              <div class="col-sm-2 test">
              <!-- // Nice use of handlebars if/else logic!-->
                \{{#if mood}}
                  <img src="http://imgur.com/jBOPYxF.jpg" class="img-circle"/>
                \{{else}}
                  <img src="http://imgur.com/Ko1osSG.jpg" class="img-circle"/>
                \{{/if}}
              </div>

              <div class="col-sm-10 memory">
                <h3> \{{who}}s Memory </h3>
                <p> \{{memory}} </p>
                <p> Submitted by \{{_user.username}}
                <button type="button" name="deleteButton" class="delete btn btn-danger pull-right" data-id=\{{_id}}>Delete</button>

              <!--  // This edit button should be removed if the feature isn't fully built out yet -->
                <button type="button" name="show" class="edit btn btn-danger pull-right" data-id=\{{_id}}>Edit</button>
              </div>

            </div>
            <!-- // Try to use margin instead of html line breaks -->
            <hr>
          \{{/each}}
        </div>

      </script>
    </div>


  </body>
  </html>
